<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">수행 보드</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active" th:text="${mission.title}">현재 미션</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-header d-flex">
                                        <div class="col-md-9">
                                            <i class="fas fa-clone me-1"></i>
                                            미션 제목
                                        </div>
                                        <div class="col-md-3">
                                            <a class="btn btn-primary btn-sm" th:href="@{'/program/' + ${programId} + '/mission/' + ${mission.id} + '/board/write'}">미션 수행하기</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="w-100">
                                            <tbody>
                                                <tr>
                                                    <td width="20%">제목</td>
                                                    <td width="80%" th:text="${mission.title}">나는 프로그래머다</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%" colspan="1">목표</td>
                                                    <td width="80%" colspan="2" th:text="${mission.goal}">웹 프로그래밍 이해와 실습을 통한 숙련도 높이기</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%" colspan="1">미션 내용</td>
                                                    <td width="80%" colspan="2" th:text="${mission.content}">웹 프로그래밍 이해와 실습을 통한 숙련도 높이기</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">수행 보드 리스트</li>
                            </ol>
                            <input type="hidden" th:value="${programId}" id="programId"/>
                            <div class="row" th:each="board : ${boardList}">
                                <div class="col-xl-12" th:onclick="browseBoard([[${board.missionId}]], [[${board.boardId}]])">
                                    <div class="card mb-4">
                                        <div class="card-header d-flex">
                                            <div class="col-md-10" th:text="${board.missionTitle}"><i class="fas fa-clone" ></i> 해당 미션 이름</div>
                                            <div class="col-md-2" th:text="${board.writerNickname}">작성자 : 누구누구</div>
                                        </div>
                                        <div style="height: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" class="card-body">
                                            <span th:text="${board.content}">미션 수행 내용의 마크다운 형식 게시판</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{/js/scripts.js}"></script>
        <script>
            function browseBoard(missionId, boardId) {
                var programId = document.getElementById("programId").value;
                window.location.href = "/program/" + programId + "/mission" + missionId +"/board/" + boardId;
            }

        </script>
    </body>
</html>
