<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4" th:text="${boardInfo.missionTitle}">진행중인 미션 이름</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active" th:text="${boardInfo.writerNickname}">작성자 아이디</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-clone me-1"></i>
                                        수행 내용
                                    </div>
                                    <div class="card-body">
                                        <span th:text="${boardInfo.content}">수행 했던 내용을 표기</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 피드백 댓글 작성 -->
                        <div class="card">
                            <div class="row">
                                <form th:action="@{'/program/' + ${programId} + '/mission/' + ${boardInfo.missionId} + + '/board/' + ${boardInfo.boardId} + '/reply/write'}" th:object="${replyCreateForm}" method="post">
                                    <div id="comment-row" class="col-md-12">
                                        <label class="mx-3 mt-3">댓글 작성</label>
                                        <textarea style="width: 95%; overflow: scroll;" class="w-80 mx-3 mt-3" id="new-comment" name="content" placeholder="내용을 입력해주세요"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="hidden" name="boardId" th:value="${boardInfo.boardId}" />
                                        <button class="btn btn-primary mx-3 my-2" type="submit" onclick="">작성하기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- 다른 피드백 댓글 공간 -->
                        <div class="card my-3" th:each="reply : ${replyList}">
                            <span class="mx-3 mt-2" style="font-size: 0.8em; color: #c1c1c1" th:text="${#temporals.format(reply.modifiedDate, 'yyyy-MM-dd HH:mm')}">2020-20-20 00:00:00</span>
                            <div class="row mb-2">
                                <div style="border-right: 3px solid #A4A4A4;" class="col-md-1">
                                    <span class="mx-3" th:text="${reply.writerNickname}">작성자</span>
                                </div>
                                <div class="col-md-11">
                                    <span class="mx-3" th:text="${reply.content}"> 피드백 내용</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>
