<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="d-flex">
                            <div class="col-xl-11 col-md-11">
                                <h1 class="mt-4">모집 중인 프로그램</h1>
                            </div>
                            <div class="col-xl-1 col-md-1">
                                <button class="btn btn-primary mt-4" th:href="@{/program/registry}">프로그램 생성</button>
                            </div>
                        </div>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">추천 프로그램</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-4 col-md-6" th:each="recommendProgram : ${programRecommendList}">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-clone me-1"></i>
                                        프로그램1
                                    </div>
                                    <div class="card-body">
                                        <table class="w-100">
                                            <tbody>
                                                <tr>
                                                    <td width="20%">제목</td>
                                                    <td width="60%" th:text="${recommendProgram.title}">나는 프로그래머다</td>
                                                    <td width="20%">IT</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%" colspan="1">멘토</td>
                                                    <td width="80%" colspan="2" th:text="${recommendProgram.mentor}">우리의 멘토</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%" colspan="1">목표</td>
                                                    <td width="80%" colspan="2" th:text="${recommendProgram.goal}">웹 프로그래밍 이해와 실습을 통한 숙련도 높이기</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-dark stretched-link" th:href="@{/info/}">자세히 보기</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">프로그램 목록</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3" th:each="program : ${programList}">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-clone me-1"></i>
                                        프로그램1
                                    </div>
                                    <div class="card-body"> 
                                        <table class="w-100">
                                            <tbody>
                                                <tr>
                                                    <td style="font:bold;" width="20%">제목</td>
                                                    <td width="80%" th:text="${program.title}">나는 프로그래머다</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%">멘토</td>
                                                    <td width="80%">
                                                        <span th:each="mentor : ${program.mentor}" th:text="${mentor.nickname}">우리의 멘토</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%">인원</td>
                                                    <td width="80%" th:text="${program.maxNumber}">5명</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" colspan="2" width="100%">프로그램 분류</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" width="100%" th:text="${program.category}">IT, Java, Spring-boot, JPA</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%">목표</td>
                                                    <td width="80%" th:text="${program.goal}">웹 프로그래밍 이해와 실습을 통한 숙련도 높이기</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="js/scripts.js"></script>
    </body>
</html>
