<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="d-flex">
                            <div class="col-xl-11 col-md-11">
                                <h1 class="mt-4">모집 중인 프로그램</h1>
                            </div>
                            <div class="col-xl-1 col-md-1">
                                <button id="createBtn" class="btn btn-primary mt-4" onclick="moveToCreateProgram()">프로그램 생성</button>
                            </div>
                        </div>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">
                                <span style="margin-right: 5%">추천 프로그램 <a th:if="${not #lists.isEmpty(programRecommendList)}" id="viewMoreRecommendBtn" style="cursor:pointer;"><i class="fas fa-undo"></i></a></span>
                            </li>
                        </ol>
                        <div th:if="${#lists.isEmpty(programRecommendList)}" class="col-md-12 text-center">
                            <span>개인정보 설정에서 관심분야를 설정해주세요</span>
                        </div>
                        <input id="recommendPage" type="hidden" value="0" />
                        <div id="recommendArea" class="row">
                            <div class="col-xl-4 col-md-6" th:each="recommendProgram, index : ${programRecommendList}">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-header">
                                        <div class="d-flex">
                                            <div class="col-md-10">
                                                <i class="fas fa-clone me-1"></i>
                                                <span th:text="'프로그램' + ${index.count}"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="small text-dark stretched-link" th:href="@{'/program/info/' + ${recommendProgram.id}}">자세히 보기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="w-100">
                                            <tbody>
                                                <tr>
                                                    <td width="20%">제목</td>
                                                    <td width="60%" th:text="${recommendProgram.title}">나는 프로그래머다</td>
                                                    <td width="20%" th:text="${recommendProgram.category}">IT</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%" colspan="1">멘토</td>
                                                    <td width="80%" colspan="2">
                                                        <div th:each="mentor, index : ${recommendProgram.mentor}">
                                                            <span th:if="${index.last}" th:text="${mentor.member.nickname}">우리의 멘토</span>
                                                            <span th:unless="${index.last}" th:text="${mentor.member.nickname}, ">우리의 멘토</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="20%">모집기간</td>
                                                    <td width="80%" th:text="${#temporals.format(recommendProgram.dueDate, 'yyyy-MM-dd')} + ' 까지'">21.08.07까지</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%" colspan="1">목표</td>
                                                    <td width="80%" colspan="2" th:text="${recommendProgram.goal}">웹 프로그래밍 이해와 실습을 통한 숙련도 높이기</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-dark stretched-link" th:href="@{'/program/info/' + ${recommendProgram.id}}">자세히 보기</a>
                                        <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">프로그램 목록</li>
                        </ol>
                        <input id="allProgramPage" type="hidden" value="0" />
                        <div class="row">
                            <div class="col-xl-3 programCard" th:each="program, index : ${programList}">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <div class="d-flex">
                                            <div class="col-md-10">
                                                <i class="fas fa-clone me-1"></i>
                                                <span th:text="'프로그램' + ${index.count}"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <a class="small text-dark stretched-link" th:href="@{'/program/info/' + ${program.id}}">자세히 보기</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body"> 
                                        <table class="w-100">
                                            <tbody>
                                                <tr>
                                                    <td style="font:bold;" width="20%">제목</td>
                                                    <td width="80%" th:text="${program.title}">나는 프로그래머다</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%">멘토</td>
                                                    <td width="80%">
                                                        <div th:if="${not #lists.isEmpty(program.mentor)}" th:each="mentorMember, mentorIndex : ${program.mentor}">
                                                            <span th:if="${mentorIndex.last}" th:text="${mentorMember.member.nickname}">우리의 멘토</span>
                                                            <span th:unless="${mentorIndex.last}" th:text="${mentorMember.member.nickname}, ">우리의 멘토</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%">인원</td>
                                                    <td width="80%" th:text="${program.maxMember}">5명</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" colspan="2" width="100%">프로그램 분류</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" width="100%" th:text="${program.category}">IT, Java, Spring-boot, JPA</td>
                                                </tr>
                                                <tr>
                                                    <td width="20%">모집기간</td>
                                                    <td width="80%" th:text="${#temporals.format(program.dueDate, 'yyyy-MM-dd')} + ' 까지'">21.08.07까지</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" width="20%">목표</td>
                                                    <td width="80%" th:text="${program.goal}">웹 프로그래밍 이해와 실습을 통한 숙련도 높이기</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="moreProgramSpace"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button id="viewMoreBtn" style="border-radius: 10%; ">&plus;더보기</button>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/addProgram.js}"></script>
        <script>
            function moveToCreateProgram() {
                document.location.href = "/program/registry";
            }
        </script>
    </body>
</html>
