<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">미션 작성</h1>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-clone me-1"></i>
                                        미션 작성
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/mission/write}" th:object="${missionForm}" method="post">
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" name="title" id="inputProgramTitle" type="text" placeholder="미션 타이틀" name=""/>
                                                        <label for="inputProgramTitle">미션 타이틀</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-10">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" name="goal" id="inputGoal" type="text" placeholder="미션 목표" />
                                                        <label for="inputGoal">미션 목표</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <label> 기한 </label>
                                                        <input style="padding-left:40%" name="dueDate" class="form-control pb-4" id="inputDueDate" type="date" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-12">
                                                    <label class="mb-3" for="inputDesc">미션 설명</label>
                                                    <div class="form-floating mb-3">
                                                        <textarea style="width: 100%; height: 500px; overflow:scroll;" name="content" class="form-control" id="inputDesc" type="textarea" placeholder="프로그램 설명"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0 float-right">
                                                <input type="hidden" th:value = "${missionForm.programId}"/>
                                                <button type="submit" class="btn btn-primary btn-block pull-right">작성하기</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
