<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">프로그램 신청자 목록</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active" th:text="${program.programName}">현재 프로그램 타이틀</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-9 col-md-9">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-clone me-1"></i>
                                        신청자 목록
                                    </div>
                                    <div class="card-body">
                                        <table class="w-100">
                                            <tbody>
                                            <tr>
                                                <td width="15%">신청자 목록</td>
                                                <td width="60%">가입 신청 메시지</td>
                                                <td width="10%">역할</td>
                                                <td width="15%" th:text="'현재인원 (' + ${program.curNum} + '/' + ${program.maxMember} + ')'">현재인원( ? / ? )</td>
                                            </tr>
                                            <tr th:each="participant : ${applicants}">
                                                <td width="15%" th:text="${participant.member.nickname}">신청자 아이디</td>
                                                <td width="60%" th:text="${participant.message}">가입 신청 메시지 입니다.</td>
                                                <td width="10%" th:text="${participant.role}">멘토</td>
                                                <td width="15%">
                                                    <input type="hidden" id="programId" th:value="${program.id}" />
                                                    <button class="btn btn-primary" th:onclick="acceptBtn([[${participant.member.email}]])">승낙</button>
                                                    <button class="btn btn-danger" th:onclick="rejectBtn([[${participant.member.email}]])">거절</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{/js/scripts.js}"></script>
        <script>
            function acceptBtn(email) {
                var programId = document.getElementById("programId").value;

                var data = new Object();
                data.email = email;
                data.programId = programId;

                $.ajax({
                    type : "post",
                    url : "/program/" + programId + "/applicants/accept",
                    data : data,
                    dataType: "json",
                    success: function(data) {
                        if(data.result === "success") {
                            window.location.href = "/program/" + programId + "/join";
                        }
                    },
                    error: function(request, status, error) {
                        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
                    }
                });
            }

            function rejectBtn(email) {
                var programId = document.getElementById("programId").value;

                var data = new Object();
                data.email = email;
                data.programId = programId;

                $.ajax({
                    type : "post",
                    url : "/program/" + programId + "/applicants/reject",
                    data : data,
                    dataType: "json",
                    success: function(data) {
                        if(data.result === "success") {
                            window.location.href = "/program/" + programId + "/applicants";
                        }
                    },
                    error: function(request, status, error) {
                        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error);
                    }
                });
            }
        </script>
    </body>
</html>
