<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">프로그램 신청자 목록</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active" th:text="${program.title}">현재 프로그램 타이틀</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-9 col-md-9">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-clone me-1"></i>
                                        신청자 목록
                                    </div>
                                    <div class="card-body">
                                        <table class="w-100">
                                            <tbody>
                                            <tr>
                                                <td width="15%">신청자 목록</td>
                                                <td width="60%">가입 신청 메시지</td>
                                                <td width="10%">역할</td>
                                                <td width="15%" th:text=" ${curNum} / ${program.maxNum} ">현재인원( ? / ? )</td>
                                            </tr>
                                            <tr th:each="participant : ${participantList}">
                                                <td width="15%" th:text="participant.nickname}">신청자 아이디</td>
                                                <td width="60%" th:text="participant.message}">가입 신청 메시지 입니다.</td>
                                                <td width="10%" th:text="participant.role}">멘토</td>
                                                <td width="15%">
                                                    <button class="btn btn-primary" onclick="sendAccept(email)">승낙</button>
                                                    <button class="btn btn-danger" onclick=""sendAccept(email)">거절</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
