<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <link href="css/profileStyle.css" rel="stylesheet" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <div class="row">
                            <h2 class="header-pos" th:text="${editForm.nickname}">본인 아이디 님의 프로필</h2>
                            <form th:action="@{/user/profile}" th:object="${editForm}" role="form" id="userInfoForm" method="post" >
                                <div class="row d-flex">
                                    <aside class="leftSection col-md-2">
                                        <label>프로필 사진</label>
                                    </aside>
                                    <div class="rightSection col-md-7">
                                        <img th:src="${editForm.imgUrl}" height="100">
                                    </div>
                                </div>

                                <div class="row d-flex">
                                    <aside class="leftSection col-md-2">
                                        <label>이메일</label>
                                    </aside>
                                    <div class="rightSection col-md-7">
                                        <input class="infoInput" type="text" placeHolder="이메일" name="email" id="inputUserEmail" th:value="${editForm.email}" readonly/>
                                    </div>
                                </div>

                                <div class="row d-flex">
                                    <aside class="leftSection col-md-2">
                                        <label>이름</label>
                                    </aside>
                                    <div class="rightSection col-md-7">
                                        <input class="infoInput" type="text" placeHolder="이름" name="memberName" id="inputUserName" th:value="${editForm.memberName}"/>
                                    </div>
                                </div>

                                <div class="row d-flex">
                                    <aside class="leftSection col-md-2">
                                        <label>닉네임</label>
                                    </aside>
                                    <div class="rightSection col-md-7">
                                        <input class="infoInput" type="text" placeHolder="사용자 이름" name="nickname" id="inputUserId" th:value="${editForm.nickname}"/>
                                    </div>
                                </div>

                                <div class="row d-flex">
                                    <aside class="leftSection col-md-2">
                                        <label>경력소개</label>
                                    </aside>
                                    <div class="rightSection col-md-7">
                                        <textarea class="infoInput" name="link" style="height: 200px" id="inputUserDesc" th:text="${editForm.link}"></textarea>
                                        <div class="additionalInfo">
                                            <p class="desc descInfo">자신의 관심분야와 관련된 경력을 알 수 있도록, 간략한 소개 및 링크를 부탁드려요</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row btnRow col-md-1 mt-5" style="margin-left: 25%">
                                    <button type="submit" class="btn btn-primary" id="updateUserInfo">제출</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
