<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <link th:href="@{/css/profileStyle.css}" rel="stylesheet" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <div class="row">
                            <h2 class="header-pos">
                                <span th:text="${profile.nickname} + ' 님의 프로필'">다른 아이디 님의 프로필</span>
                                <a th:if="${isLogin}" th:href="@{/member/profile/edit}" class="btn btn-primary">프로필 편집</a>
                            </h2>
                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>이메일</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="email" id="inputEmail" th:text="${profile.email}"> email </p>
                                </div>
                            </div>

                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>이름</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="memberName" id="inputName" th:text="${profile.memberName}"> name </p>
                                </div>
                            </div>

                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>닉네임</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="nickname" id="inputNickname" th:text="${profile.nickname}"> nickname </p>
                                </div>
                            </div>

                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>관심분야</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="nickname" id="inputInterest1" th:text="'1, ' + ${profile.categories[0]}"> 관심분야1 </p>
                                    <p class="infoInput" type="text" name="nickname" id="inputInterest2" th:text="'2, ' + ${profile.categories[1]}"> 관심분야2 </p>
                                    <p class="infoInput" type="text" name="nickname" id="inputInterest3" th:text="'3, ' + ${profile.categories[2]}"> 관심분야3 </p>
                                </div>
                            </div>

                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>경력소개</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="link" id="inputCareer" th:text="${profile.link}"> link for career </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>
