<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <link th:href="@{css/profileStyle.css}" rel="stylesheet" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <div class="row">
                            <h2 class="header-pos" th:text="${profile.nickname} + ' 님의 프로필'">
                                다른 아이디 님의 프로필
                                <button th:if="${profile.isLogin}" class="btn btn-primary">프로필 편집</button>
                            </h2>
                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>프로필 사진</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <img th:src="${profile.imgUrl}" height="100">
                                </div>
                            </div>

                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>이메일</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="email" id="inputEmail" th:text="${profile.email}"> email </p>
                                </div>
                            </div>

                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>이름</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="memberName" id="inputName" th:text="${profile.memberName}"> name </p>
                                </div>
                            </div>

                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>닉네임</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="nickname" id="inputNickname" th:text="${profile.nickname}"> nickname </p>
                                </div>
                            </div>

                            <div class="row d-flex">
                                <aside class="leftSection col-md-2">
                                    <label>경력소개</label>
                                </aside>
                                <div class="rightSection col-md-7">
                                    <p class="infoInput" type="text" name="link" id="inputCareer" th:text="${profile.link}"> link for career </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
