<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body class="sb-nav-fixed">
        <nav th:replace="fragments/nav :: nav" />
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav th:replace="fragments/sidenav :: sidenav" />
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4" th:text="${program.title}">프로그램 이름</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">
                                <span>현재 진행중인 미션</span>
                                <a th:if="${isMentor}" class="btn btn-primary btn-sm" th:href="@{'/program/' + ${program.programId} + '/mission/write'}"> 미션 생성</a>
                            </li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-4 col-md-6" th:each="curMission : ${program.curMission}">
                                <div class="card bg-white text-dark mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-clone me-1"></i>
                                        <span>미션 카드</span><a style="margin-left:60%; color: #808080; font-size: 0.8em;" th:href="@{'/program/' + ${program.programId} + '/mission/' + ${curMission.missionId} + '/board/list'}"> &#187;수행보드로 이동</a>
                                    </div>
                                    <div class="card-body" >
                                        <table class="w-100">
                                            <tbody>
                                            <tr>
                                                <td style="font:bold;" width="20%">제목</td>
                                                <td width="80%" th:text="${curMission.title}">나는 프로그래머다</td>
                                            </tr>
                                            <tr>
                                                <td style="font:bold;" width="20%">기간</td>
                                                <td width="80%" th:text="${#temporals.format(curMission.dueDate, 'yyyy-MM-dd')} + ' 까지'">21.08.07까지</td>
                                            </tr>
                                            <tr>
                                                <td style="font:bold;" colspan="2" width="100%">미션 내용</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" width="100%" th:text="${curMission.content}">
                                                    미션에 대한 내용 설명 <br/>
                                                    엄청나게 많은 내용 <br/>
                                                    멘티들이 해야할 내용 <br/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <ol class="breadcrumb mb-4 mx-3">
                                <li class="breadcrumb-item active">과거 미션 목록</li>
                            </ol>
                            <div class="row">
                                <div class="col-xl-3" th:each="endMission : ${program.endMission}">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <i class="fas fa-clone me-1"></i>
                                            과거 미션
                                        </div>
                                        <div class="card-body">
                                            <table class="w-100">
                                                <tbody>
                                                <tr>
                                                    <td style="font:bold;" width="20%">제목</td>
                                                    <td width="80%" th:text="${endMission.title}">나는 프로그래머다</td>
                                                </tr>
                                                <tr>
                                                    <td style="font:bold;" colspan="2" width="100%">미션 내용</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" width="100%" th:text="${endMission.content}">
                                                        미션에 대한 내용 설명 <br/>
                                                        엄청나게 많은 내용 <br/>
                                                        멘티들이 해야할 내용 <br/>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
